<footer class="footer-dark">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3 item">
        <h3 data-aos="fade-right">Navigation</h3>
        <ul data-aos="zoom-in">
          <li>
            <%= link_to "Home", '#' %>
          </li>
          <li>
            <%= link_to "Pitches", "#" %>
          </li>
          <li>
            <%= link_to "Payment","#" %>
          </li>
          <%# <li>
            <%= link_to "", winner_path %>
          <%# </li>  %>
        </ul>
      </div>
      <div class="col-md-6 item text">
        <h3 data-aos="fade-right">
          <%= image_tag("https://res.cloudinary.com/dw39u26vq/image/upload/v1705942126/Capture_d_%C3%A9cran_2024-01-22_174422_kouvwm.png", alt: "logo", width: 30, height: 30, class: "navbar-logo", style: "margin-right: 10px;") %>
          KickitNow
        </h3>
        <p data-aos="zoom-in">
          The Stade platform is a comprehensive sports facility management application designed to offer a multitude of services, including easy online booking
        </p>
      </div>
    </div>
    <p class="copyright">KickitNow © 2024, All rights reserved.</p>
  </div>
  <div>
    <a href="mailto:kickitNow@gmail.com?subject=From kickitNow Site" >
    <i class="mail-us fa-solid fa-headset">
    </i>
    </a>
      <%# <%= image_tag("support_agent_icon.png", class: "mail-us") %>
  </div>
</footer>
