
<!--
      <header>
              <nav style="color:black">

                        <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" >
                          <div class="container-fluid">
                                <%= link_to "#", class: "navbar-brand" do %>

                                    <div class="logo__container">
                                          <%= image_tag("/images/logo4.png") %>
                                    </div>

                                 <% end %>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                              <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                      <%= link_to "Home", "/", class: "nav-link" %>
                                </li>
                                <% if user_signed_in? %>

                                  <li class="nav-item">
                                    <%= link_to "Pitches", pitches_path, class: "nav-link" %>
                                    <li class="nav-item">
                                    <%= link_to "My bookings", history_path, class: "nav-link" %>

                                    <li class="nav-item">
                                     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                                     </li>
                                  </li>


                                 <li class="nav-item dropdown">
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThhOzMlVmaGmerJG7MjWP6iu2Spi-Hwg3aow&usqp=CAU", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
                                <% else %>
                                  <li class="nav-item">
                                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                                  </li>
                                  <li class="nav-item active">
                                    <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                                  </li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                        </div>
              </nav>
      </header>

      -->

    <!-- carousel -->
    <div class="carousel" data-controller="home">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707316380/ciiiiiiiiiii_osnth0.jpg">
                <div class="content">
                    <div class="author">Kickitnow</div>
                    <div class="title">Book Your Football Pitch</div>
                    <div class="topic">Now</div>
                    <div class="des">

                     KickItNow is your go-to sports facility booking platform, providing unparalleled access to top-quality pitches and venues. We seamlessly connect athletes, teams, and fitness enthusiasts with diverse sports facilities, ensuring a convenient and efficient booking experience. Whether you're a pro athlete or someone seeking an active lifestyle, KickItNow is designed for you. Join us to discover, book, and elevate your sports experience

                    </div>
                    <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389066/zattttttttttttttttttttt_ub2x1c.jpg">
                <div class="content">
                    <div class="author">Kickitnow</div>
                    <div class="title">Book Your Football Pitch</div>
                    <div class="topic">Now</div>
                    <div class="des">

                        Discover the beauty of the coast at Atlantic Club, your ultimate destination

                    </div>
                     <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389976/giiiixashjxbghdz_p9mej6.jpg">
                <div class="content">
                    <div class="author">Kickitnow</div>
                    <div class="title">Book Your Football Pitch</div>
                    <div class="topic">Now</div>
                    <div class="des">

Ginga Sport offers a unique experience, combining nature and relaxation. Nestled in a peaceful environment                    </div>

                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button href="/pitches">BOOK NOW</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707316784/ggggggg_puxczo.jpg">
                <div class="content">
                    <div class="author">KickitNow</div>
                    <div class="title">BOOK Your Football Pitch</div>
                    <div class="topic">Now</div>
                    <div class="des">

City Foot offers a dynamic urban gaming experience in the heart of the city. With modern and well-maintained football fields.
                                            </div>
                     <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                    </div>
                </div>
            </div>
        </div>



        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707316380/ciiiiiiiiiii_osnth0.jpg">
                <div class="content">
                    <div class="title">
ARENA CLUB                    </div>
                    <div class="description">
                        Explore a versatile place that celebrates outdoor living in a sustainable urban setting at Arena Green City.
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389066/zattttttttttttttttttttt_ub2x1c.jpg">
                <div class="content">
                    <div class="title">
ATLANTIC                    </div>
                    <div class="description">
                        Discover the beauty of the coast at Atlantic Club, your ultimate destination
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389976/giiiixashjxbghdz_p9mej6.jpg">
                <div class="content">
                    <div class="title">
GINGA
</div>
                    <div class="description">
Ginga Sport offers a unique experience, combining nature and relaxation. Nestled in a peaceful environment                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>
</div>
<br>
<section class="about_us">
<div class="about">
<h2>Kickitnow</h2>
<p>
 Welcome to KickItnow – Your Premier Destination for Soccer Pitch Bookings!

At KickItNow, we're passionate about soccer and dedicated to providing enthusiasts with a seamless and enjoyable experience when it comes to booking soccer pitches. Whether you're a casual player looking for a friendly match with friends or a team gearing up for a serious training session, KickItNow is your go-to platform.
</p>
</div>
<div class="image__contaire">
<img src="images/ball.jpeg" alt="rss feed" />
</div>
</section>
<section class="testimonies">
                <h2>Testimonials</h2>
                <div class="card__testimonies">
                <div class="card">
                    <div class="card__title">
                      <img src="images/test2.jpg">
                      <p>Anas</p> <p style="color:#f2b242">★★★★★</p>
                   </div>
                    <div class="card__body">
                      "KickItNow has revolutionized how I book soccer pitches! The platform is so easy to use, and I can quickly secure a spot for my weekly matches with friends. The variety of high-quality pitches available has made every game a memorable experience. Thanks, KickItNow, for making my soccer passion even more enjoyable!"
                    </div>
                </div>
                <div class="card">

                    <div class="card__title">
                      <img src="images/test1.jpg">
                      <p>Ayoub</p>  <p style="color:#f2b242">★★★</p>
                    </div>
                    <div class="card__body">
                      "As a team captain, finding the right pitch for our training sessions is crucial. KickItNow has become our go-to solution. The platform's flexibility in booking, combined with the excellent facilities offered by their partner locations, has greatly contributed to our team's success. KickItNow is a game-changer for any serious soccer team!"
                    </div>
                </div>
                <div class="card">
                    <div class="card__title">
                      <img src="images/test3.jpg">
                      <p>Mouad</p>  <p style="color:#f2b242">★★★★</p>
                    </div>
                    <div class="card__body">
                      "Being a soccer enthusiast, KickItNow has become my virtual soccer companion. The platform not only provides hassle-free pitch bookings but also connects me with a community of fellow soccer lovers. I've discovered new pitches, made new friends, and elevated my soccer experience. KickItNow truly understands the pulse of the soccer community."
                    </div>
                </div>
</section>
